@import 'tailwindcss';

/* Pretendard Font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

@import '@gs/tailwind-config/base.css';
@import '@gs/ui/styles.css';
